<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @document.date %>
</p>

<p>
  <b>Detail:</b>
  <%= @document.detail %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
